 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@1,100&display=swap');
 @font-face {
    font-family: "palatino";
    src: url('font/palatin.ttf');
 }
*{
    margin: 0 auto;
    padding: 0;
}
.navigation{
    width: 100%;
    max-width: 1440px;
    background-color:#F2BB4A ;
    padding: 20px 0px;
    
}
.container{
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 30%; 
}

.first-part ul{
    display: flex;
    margin-top: 12px;
}
.first-part ul li{
    list-style: none;
}
.first-part ul li a{
    text-decoration: none;
    padding:10px 20px ;
    font-weight:600 ;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #1D4B72;
    align-items: center;
    letter-spacing: 0.1cm;
    text-transform: uppercase;
}
.first-part ul li:last-child a{
    background-color: #fff;
    border-radius: 6px;
    color: #1D4B72;
    margin-top: -1px;
    padding: 15px 15px;
}


/* NEV END */

.vl{
    background-image: url(lg2.png);
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    
}
.vl-text{
    margin: 150px;
    max-width: 490px; 
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
}
.vl-text h1{
    font-family: "palatino";
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    color: #1D4B72;
}
.vl-text p{
    font-family: "Raleway";
    width: 281px;
    align-self: flex-start;
    font-weight: 500;
    color: #858e96;
    font-size: 14px;
    line-height: 16px;
    margin: 20px;
    margin-left: 0px;
    
}

.vl-text a{
    background-color: #F2B84A;
    text-decoration: none;
    color: #1D4B72;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 10px;
    margin-left: 0px;
    letter-spacing: 0.1em;
    display: inline-block;
    padding:15px 30px;
    border-radius: 6px;
    
}
.competent-partner{
    width: 100%;
    max-width: 1440px;
    padding: 150px 0px;
}



.competent-partner .left , .competent-partner .right{
    width: 50%;
    
}
.competent-partner .left img{
    width: 476px;
}
.competent-partner .right h2{
    width: 700px;
    font-family: 'Palatino';
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    color: #1D4B72;
}
.competent-partner .right h2::after{
    display: none;
}

.competent-partner .right p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
}

/* end of competent */


/* our service start */
.our-service{
    width:100%;
    max-width: 1440px;
    background: #FAFAFA;
    padding: 60px 0 0;
}

.our-service h2{
    width: 700px;
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
    line-height: 53px;
    text-align: center;
    color: #1D4B72;
}

.our-service .container{
    column-gap: 20px;
}
.our-service .service-info{
    width: 80%; 
    padding: 30px;
    height: 198px;
    transform: translateY(-50%);
    left: calc(50% - 293px/2 - 379.5px);
    top: calc(50% - 198px/2 - 70px);
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
}

.our-service .service-info h4{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

.our-service .service-info p{  
    font-family: 'Raleway';
    margin: 20px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
}

.our-service .service-info a{
    
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #F2B84A;
    margin-left: 85px;
}
    /* st why-us */

.why-us{
    max-width:1440px ;
    padding:100px 0 ;
}
.why-us h2{
    width: 700px;
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    color: #1D4B72;
    margin-bottom: 60px;
}
.why-item{
    text-align: center;
}
.why-item i{
    display: inline-block;
    padding: 30px;
    background: #F2B84A;
    border-radius: 36px;
    margin-bottom: 17px;
    color:#F2B84A ;
}
.why-item h4{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #101010;
}
.why-item p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

    /* end why us */



    /* start get-in */

.get-touch{
    width: 100%;
    max-width: 1440px;
    background-color: #FAFAFA;
}


.get-text{
    flex-basis: 30%;
}
.get-text h4{
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #1D4B72;
}
.get-text p{
    margin: 20px 0 50px;
    font-family: 'Raleway';
    font-weight: 500;
    width: 200%;
    font-size: 14px;
    line-height: 150%;
    color: #101010;
}

.get-text a{
    text-decoration: none;
    box-sizing: border-box;
    width: 205px;
    padding:17px 46px;
    height: 50px;
    background-color: #F2B84A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B4B73;
}
.get-img{
    flex-basis: 70%;
    display: flex;
}
.get-img img{
    flex-basis: 33%;
}
.arro{
    display: inline-block;
    
}
.arro a{
    display: inline-block;
}

    /* end of get in */

    /* start of contact us */

.contact-us{
    width: 100%;
    max-width: 1440px;
    margin-top: 160px;
    
    
}
.contact-text{
    align-items: center;
    margin-top: 50px;
}
.contact-text h2{
    width: 445px;
    height: 59px;
    display: inline;
    margin-left: -64px;
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    color: #1D4B72;
}

.contact-text p{
    width: 434px;
    height: 64px;
    margin-top: 50px;
    margin-left: -64px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #101010;
}

.contact-form{
    background-color: #ffff;
    padding: 20px 30px;
}

.form1 input{   
    width:34% ;
    margin: 5px;
    padding: 20px 30px;
    margin-left: 4px;
}
.form2 input{
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 20px 30px;
}
.form3 input{
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 20px 30px;
}
.form-opt select{
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 20px 30px;
}
.form-submit input{
    margin-top: 11px;
    width: 100%;
    padding: 14px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B4B73;
    background: #F2B84A;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
}

    /* end of contact  */

    /* start of foot   */

 footer{
    width: 100%;
    max-width: 1440px;
    background-color: #1D4B72;
    margin-top: 140px;
    color: rgb(209, 206, 206);
    padding: 120px 0;
 }
 .footer-left{
    
 }
 footer .footer_item{
    width: 25%;
 }
 .footer-p{
    margin-top: 100px;
 }
 footer .footer-item1 h4{
    font-family: 'Raleway';
    font-weight: 700;
    margin-left: 30px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-left: -51px;
 }
 footer .footer-item2 h4{
    font-family: 'Raleway';
    font-weight: 700;
    margin-left: 30px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-left: 20px;
    
 }
 .footer-item2 p{
    margin-left: 98px;
 }
 footer .footer-item3 h4{
    font-family: 'Raleway';
    font-weight: 700;
    margin-left: 30px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    
 }
 .footer-item3 li {
    list-style: none;
 }
 .container .footer-item3 li a{
    list-style:none;
    display: block;
    text-decoration: none;
    color:rgb(209, 206, 206) ;
    margin-top: 20px;
    margin-left: 29px;
 }

 .footer-left .font-awsm i{
   margin-top: 19px;
   margin-left: 17px;
 }
h2{
    position: relative;
}
 h2::after{
    content: "";
    display: inline-block;
    width: 170px;
    height: 5px;
    background-color: #1D4B72;
    position: absolute;
    bottom: -22px;
    left: 0px;
    right: 0;
    margin: auto;
 }

 .header-mobile{
    display: none;
 }
 /* end of footer* */

 /* start of responsive */

 @media screen and (max-width:414px){

    .container{
        
        flex-direction: column;
        width: 100%;
    }
    .navigation ul{
        flex-direction: column;
        margin-top: 50px;
    }
    .first-part ul li:last-child a{
        background: none;
    }

    /* vl start  */
    .vl{
        width: 100%;
        background-image: none;
        display: none;
    }
     .vl-text{
        width: 85%;
        margin: auto ;
     }
     .vl-text h1{
        font-size: 24px;
     }
     .vl-text p{
        font-size: 14px;
     }

     /* header start  */
     .header-mobile{
        display: block;
     }
     .header-mobile .header-img img{
        width: 100%;
     }
     .header-mobile .vl-text{
        max-width: 100%;
        box-sizing: border-box;
     }
        /* header end  */

     /* competent start  */
     .competent-partner .left , .competent-partner .right{
        width: 70%;
     }

     .competent-partner .left img{
        margin-left: -29px;
        width: 100%;
        margin-top: -79px;
     }

     .competent-partner .right h2{
        font-size: 28px;
        width: 375px;
        margin-left: -30px;
     }

     .competent-partner .right p{
        font-size: 14px;
        margin-left: -38px;
        width: 373px;
        text-align: center;
     }


     /* after off  */
     h2::after{
        display: none;
     }

             /* our service start  */
    
    .our-service h2{
        width: 100%;
        margin-top: -45px;
        font-family: 
        'Raleway';
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        text-align: center;
        
    }
        
    .our-service .service-info h4{
        
    }
    .our-service .service-info p{  
        font-family: 'Raleway';
        margin: 20px 0;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #101010;
    }
    .our-service .service img{
        align-self: center;
        padding: 31px;
    }

    .our-service .service a{
        margin-left: 106px;
    }
    /* end of why us  */

    .why-us{
        padding:30px 0 ;
    }
    .why-us h2{
        width: 100%;
        font-size: 28px;
    }

    .why-item{
        margin-bottom: 20px;
        
        width: 50%;
        height: 150px;
        padding: 10px;
        box-sizing: border-box;
    }

    .why-item h4{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #101010;
    }

    .why-item p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #000000;
    }

    .why-us .container{
        flex-direction: row;
        column-gap: 0;
        flex-wrap: wrap;
    } 

    /* end of .why-us */

    /* start of get in touch  */

    .get-text{
        width: 90%;
    }
    .get-text h4{
        margin-top: 50px;
        margin-left: 10px;
        font-family: 'Palatino';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        color: #1D4B72;
    }
    .get-text p{
        width: 350px;
        margin-top: 40px;
        margin-left: 10px;
        font-size: 14px;
        font-family: 'Raleway';
        font-weight: 500;
        text-align: center;
        color: #101010;
    }
    .get-text a{
        margin-bottom: 20px;
        margin-left: 71px;
    }
    .get-img img{
        margin-top: 40px;
        overflow: hidden;
    }
    .arro{
        display: none;
    }

    /* get touch end  */

    /* contact us start  */

    .contact-us{
        margin-top: 0px;
        padding:40px 0;
    }

    .contact-us .contact-text{
        width:90% ;
    }
    .contact-text h2{
        margin-left: 59px;
        font-size: 28px;
    }
    
    .contact-text p{
        margin-top: 20px;
        margin-left: -4px;
        font-size: 14px;
    }

    .form1 {
        margin-top: 20px;
        width: 100%;
        display: flex;
    }
    
    .form2{
        margin-top: 20px;
        padding: 0 5px;
    }
    


    /* end of get touch  */

    /* start footer  */

    footer{
        margin: 0 auto;
    }

    .footer-left p{
        margin-top: 100px;
    }

    .footer-item1 h4{
        margin-top: 60px;
           
    }

    .footer-item1 p{
        margin-bottom: 40px;
    }

    .footer-item2 h4{
        width: 100%;
        max-width: 414px;
        text-align: center;
    }

    .footer-item2 p{
        margin-bottom: 50px;
    }
    .footer-item3 h4{

    }
}